@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
:root {
  --font: 'Poppins', sans-serif;
  --body-color: #637381;
  --heading-color: #101f4c;
  --primary-color: #3056d3;
  --white: #ffffff;
  --red: #b51318;
}

body {
  font-family: var(--font);
  font-weight: normal;
  font-style: normal;
  color: var(--body-color);
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.text-primary-coder {
  color: var(--red) !important;
}

.bg-section {
  background-color: #f5f5f5;
}

.bg-red-custom {
  background-color: var(--red);
}

.bg-coder {
  background-color: var(--heading-color) !important;
}

.ud-hero {
  background: rgb(181, 19, 24);
  background: linear-gradient(
    77deg,
    rgba(181, 19, 24, 1) 0%,
    rgba(16, 31, 76, 1) 100%
  );
  padding-top: 180px;
}

.ud-footer {
  background: var(--heading-color);
  padding-top: 100px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.ud-page-banner {
  padding-top: 130px;
  padding-bottom: 80px;
  background: var(--heading-color);
  background-image: url(../images/banner/banner-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pb-7 {
  padding-bottom: 7rem;
}

.ud-hero-content {
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;
}

.ud-hero-content .ud-hero-desc {
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: var(--white);
  opacity: 0.8;
  max-width: 850px;
  margin: auto;
  margin-bottom: 30px;
}

.ud-about-content h2 {
  font-weight: bold;
  font-size: 47px;
  line-height: 45px;
  margin-bottom: 30px;
}

.icons-1 {
  font-size: 25px;
}

.division-section {
  margin-bottom: 5.5rem;
}

.division-section h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 59px;
  text-transform: capitalize;
  color: var(--heading-color);
  margin-bottom: 20px;
}

.ud-single-feature .ud-feature-icon {
  background: var(--heading-color);
}
.ud-single-feature .ud-feature-icon::before {
  background: var(--heading-color);
}
.ud-single-feature:hover {
  background-color: #ffffff;
  border-radius: 24px 24px 24px 24px;
  overflow: hidden;
  transition: border-radius 300ms ease 0ms, box-shadow 300ms ease 0ms,
    background-color 300ms ease 0ms, background-image 300ms ease 0ms;
  box-shadow: 0px 10px 30px 0px rgba(74, 92, 119, 0.1);
}

.ud-single-feature:hover .ud-feature-icon {
  background: var(--red);
}

.ud-single-feature:hover .ud-feature-icon:before {
  background: var(--red);
}

.cursor-pointer {
  cursor: pointer;
}

.sticky {
  position: fixed;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn-outline-coder {
  color: var(--red);
  border-color: var(--red);
}

.btn-outline-coder:hover {
  color: #fff;
  background-color: var(--red);
  border-color: var(--red);
}

.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.swiper-button-prev, .swiper .swiper-button-next {
  background-color: var(--heading-color);
  padding: 25px;
  border-radius: 50%;
  color: var(--red);
}

.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 31px;
  font-weight: 900;
}

.ud-single-blog:hover .ud-blog-image img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.ud-single-blog .ud-blog-title a:hover {
  color: var(--red);
}


.sticky .navbar-nav .nav-item a {
  color: var(--heading-color);
}

.sticky .navbar-nav .nav-item a.active, .sticky .navbar-nav .nav-item a:hover {
  color: var(--red);
}

.ud-widget .ud-widget-socials a {
  color: #fff;
  font-size: 28px;
}

