<header class="ud-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="{{ url('/') }}">
            <img src="{{ siteUrl }}assets/images/coder-logo-putih.png" alt="Logo" />
          </a>
          <button class="navbar-toggler">
            <span class="toggler-icon"> </span>
            <span class="toggler-icon"> </span>
            <span class="toggler-icon"> </span>
          </button>

          <div class="navbar-collapse">
            <ul id="nav" class="navbar-nav mx-auto d-sm-none d-block">
              <li class="nav-item">
                <a class="ud-menu-scroll fw-bold" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="ud-menu-scroll fw-bold" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="ud-menu-scroll fw-bold" href="#division">Division</a>
              </li>
              <li class="nav-item">
                <a class="ud-menu-scroll fw-bold" href="#gallery">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="ud-menu-scroll fw-bold" href="#news">News</a>
              </li>
              
            </ul>
          </div>

          <div class="navbar-btn d-none d-sm-inline-block">
            <ul id="nav" class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="ud-menu-scroll fw-bold" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="ud-menu-scroll fw-bold" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="ud-menu-scroll fw-bold" href="#division">Division</a>
              </li>
              <li class="nav-item">
                <a class="ud-menu-scroll fw-bold" href="#gallery">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="ud-menu-scroll fw-bold" href="#news">News</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>